
exports.get = function(){
    return {
        // Declare the context of your actor by an object
        salve : function(message) {
            // Actor method - "hello"
            var greeting = '{{hello}}';
            return "Done";
        },
        version: function(){
            var _version = {{X}};
            return _version;
        }
    };
}
